#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    combos { compatible = "zmk,combos"; };

    macros {
        number: number {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N1 &kp N4 &kp N5 &kp N2 &kp N3 &kp N6>;
            label = "NUMBER";
        };
    };

    behaviors {
        brace: brace {
            compatible = "zmk,behavior-tap-dance";
            label = "BRACE";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;
        };

        equal: equal {
            compatible = "zmk,behavior-tap-dance";
            label = "EQUAL";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp EQUAL>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
&kp ESC         &kp N1  &kp N2  &kp N3       &kp N4        &kp N5          &kp N6       &kp N7     &kp N8     &kp N9   &kp N0     &equal
&kp TAB         &kp Q   &kp W   &kp E        &kp R         &kp T           &kp Y        &kp U      &kp I      &kp O    &kp P      &kp BACKSPACE
&kp LCTRL       &kp A   &kp S   &kp D        &kp F         &kp G           &kp H        &kp J      &kp K      &kp L    &kp SEMI   &kp ENTER
&kp LEFT_SHIFT  &kp Z   &kp X   &kp C        &kp V         &kp B           &kp N        &kp M      &kp COMMA  &kp DOT  &kp SLASH  &kp APOS
                                &lt 2 SPACE  &kp LEFT_ALT  &kp LEFT_WIN    &lt 2 GRAVE  &kp SPACE
                                             &lt 1 SPACE   &kp BSLH        &brace
            >;

            trackball-bindings = <&tmv_coarse>;
        };

        Mouse {
            bindings = <
&none  &kp F1  &kp F2   &kp F3   &kp F4   &none    &bt BT_SEL 0  &bt BT_SEL 1   &bt BT_SEL 2  &none      &bt BT_CLR  &none
&none  &kp F5  &kp F6   &kp F7   &kp F8   &none    &none         &none          &none         &mkp MB4   &mkp MB5    &none
&none  &kp F9  &kp F10  &kp F11  &kp F12  &none    &none         &mkp LCLK      &mkp MCLK     &mkp RCLK  &none       &none
&none  &none   &none    &none    &none    &none    &kp PAGE_UP   &kp PAGE_DOWN  &none         &none      &none       &none
                        &none    &none    &none    &none         &none
                                 &none    &none    &trans
            >;
        };

        ShortCuts {
            bindings = <
&none               &none      &none    &none    &none    &bootloader    &bootloader     &none           &none         &none            &none  &none
&none               &kp LA(Q)  &none    &none    &none    &none          &none           &none           &none         &none            &none  &none
&none               &kp HOME   &kp END  &kp DEL  &none    &none          &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &none  &none
&kp LA(LEFT_SHIFT)  &kp F9     &kp F10  &kp F11  &kp F12  &none          &kp PAGE_UP     &kp PAGE_DOWN   &none         &none            &none  &none
                                        &none    &none    &none          &none           &number
                                                 &none    &none          &none
            >;
        };
    };
};
